<nav class="site-header sticky-top py-1 bg-light bg-dark">
  <div class="container d-flex flex-column flex-md-row justify-content-between">
    <a class="py-2 d-none d-md-inline-block" href="/home" >Accueil</a>
    <a class="py-2 d-none d-md-inline-block" href="/films">Films</a>
    <a class="py-2 d-none d-md-inline-block" href="#">A propos</a>    
    <a class="btn btn-primary me-2 align-items-center"  href="/login" [hidden]="isAuth">Login</a>
    <a class="btn btn-warning align-items-center"  href="/newcompte" [hidden]="isAuth">Sign-up</a>
    <a class="btn btn-warning align-items-center" (click)="OnSignOut()">Déconnecter</a>
  </div>
 </nav>
 <div>{{userEmail}}</div>
<router-outlet></router-outlet> 
