<section class="jumbotron">
    <h1 class="display-4">Voici la liste de nos films!</h1>
  </section>
  <br>
  <div class="container">
    <div class="row">
      <div class="col-md-4 film-card">
        <div class="card">
          <a href="https://www.google.com/search?client=opera&q=donnez+des+films&sourceid=opera&ie=UTF-8&oe=UTF-8#fpstate=ive&vld=cid:67508ffb,vid:dJ6e-rlmtCY,st:0">
            <img src="assets/nouvelle_vie.jpg" class="card-img-top img-fluid equal-image" alt="Film 1">
          </a>
          <div class="card-body">
            <h5 class="card-title">Nouvelle Vie</h5>
            <p class="card-text">Description du film 1.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 film-card">
        <div class="card">
          <a href="https://www.youtube.com/watch?v=1dJoOwLmc9g">
            <img src="assets/etranger.jpg" class="card-img-top img-fluid equal-image" alt="Film 2">
          </a>
          <div class="card-body">
            <h5 class="card-title">Étranger</h5>
            <p class="card-text">Description du film 2.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 film-card">
        <div class="card">
          <a href="https://www.youtube.com/watch?v=kRnxbifGATw">
            <img src="assets/danger.jpg" class="card-img-top img-fluid equal-image" alt="Film 3">
          </a>
          <div class="card-body">
            <h5 class="card-title">Danger</h5>
            <p class="card-text">Description du film 3.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div>
    <br>
  <a class="btn btn-primary btn-lg" href="#" role="button">En savoir plus</a>
</div>
  